.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.container {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

img {
  width: 200px;
}